/* stylesheet for tribute page */
body {
  margin: 60px;
}
header {
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;

}
img {
  border-radius: 10px;
  margin: 10px;
  width: auto;
}
footer {
  font-family: monospace;
  font-size: 0.7em;
}
#quote {
  font-family: Pacifico;
}
